.App {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding: 10%;
  margin-left: 20px;
}

h1 {
  color: #64ffda;
  font-size: 15px;
  font-weight: 400;
}

p {
  color: #ccd6f6;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: right;
  padding-right: 30px;
  padding-top: 40px;
  align-items: center;
  margin-right: 30px;
}

.about{
  color: #ccd6f6;
 }

.about:hover {
  color: #64ffda;
}

.experience:hover {
  color: #64ffda;
}

.projects:hover {
  color: #64ffda;
}

.contact:hover {
  color: #64ffda;
}

.resume:hover{
  color:rgba(100,255,218,0.1);
  background-color: red;
}


